.build/
.swiftpm/
*.xcuserdatastate
xcuserdata/
DerivedData/
__pycache__/

# Android
Android/.gradle/
Android/**/build/
Android/local.properties
Android/.idea/
*.iml
*.jks
*.keystore
Android/release-keystore.*
